@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
    background-color: rgb(130, 107, 193);
    color: white;
    font-size: 2em;
}

h1 {
    color:aquamarine;
    font-family: "Pacifico";
}

#fun-container {
    background-color: pink;
}

.fun-text {
    color: hotpink;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
