@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
    background-color: rgb(130, 107, 193);
    color: white;
    font-size: 2em;
}

h1 {
    color:aquamarine;
    font-family: "Pacifico";
}

#fun-container {
    background-color: pink;
}

.fun-text {
    color: hotpink;
}