{% extends 'layout.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<h2>About page</h2>

{% if mood == "good" %}
    <p>Hi!!! I'm sooo happy you're here!</p>
{% elif mood == "bad" %}
    <p>Not feeling it today.</p>
{% else %}
    <p>Feeling mysterious...</p>
{% endif %}

<h3>Best Class Ever!</h3>
<ul>
    {% for friend in friends %}
        <li>{{ friend }}</li>
    {% endfor %}
</ul>

<dl>
    {% for key, value in my_dict.items() %}
        <dt>{{ key }}</dt>
        <dd>{{ value }}</dd>
    {% endfor %}
</dl>

{% endblock %}